*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.body{
    height: auto;
    width: 100%;


}
.parent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(192, 228, 255);
    font-size: 25px;
    font-weight: 1000;
    color: brown;
    padding: 20px;
}
.nav-parent{
    display: flex;
    gap: 15px;
}
.image{
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTExL3Jhd3BpeGVsX29mZmljZV8zMF9hYnN0cmFjdF9ncmFkaWVudF93aGl0ZV9iYWNrZ3JvdW5kX3ZlY3Rvcl9wcl9kZGY3ZTJiNC0wMjU3LTRjMTUtOWFjNS0xMmQwZTA0N2E4MWYuanBn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:550px;
    width:100%;

    align-items: center;
    justify-items: center;
    font-size: 30px;
}
.nav-image{
    font-size: 50px;
    font-weight: 800;
    justify-items: center;
    align-content: center;
    color: rgb(101, 174, 235);
}
.div-image{
    justify-items: center;
    align-content: center;
    font-size: 30px;
    color: rgb(39, 39, 105);
}
.link{
    background-image: url('https://images.ctfassets.net/nnkxuzam4k38/72FI1uoNvyy66AU9lmkxD0/29545557828129fd31864cdd486457f4/white-radial-gradient.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width:100%;

   
}
.nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}
.div-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}
.A{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    background-color: white;
}
.B{
  font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center; 
    background-color: white; 
}
.C{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    background-color: white;
}
.D{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    background-color: white;
}
.E{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    background-color: white;
}
.a{
 font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center; 
    background-color: white;
}
.b{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    background-color: white;
}
.c{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    background-color: white;

}
.d{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    background-color: white;

}
.e{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    background-color: white;

}



 .form{
    background-image: url('https://coolbackgrounds.imgix.net/4lBzkVBmJ0qvFJ90SJHEdV/7645fc49f7f1fb4a8c31a94fc4c97f4d/black-particles-background.png?auto=format%2Ccompress&q=60&w=3840');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:550px;
    width:100%;

    justify-items: center;
    align-content : center;

} 
.nav-form{
    background-image: url('https://media.istockphoto.com/id/468572751/photo/nature-color.webp?a=1&b=1&s=612x612&w=0&k=20&c=ioW6R0ikif1eMBcU8nnmgJv6tmE0qlfW4sfmnnHre-E=');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:350px;
    width:40%;

    align-items: center;
    justify-items: center;
    align-content: center;
    font-size: 30px;
}

.footer{
   background-image: url('https://coolbackgrounds.imgix.net/4lBzkVBmJ0qvFJ90SJHEdV/7645fc49f7f1fb4a8c31a94fc4c97f4d/black-particles-background.png?auto=format%2Ccompress&q=60&w=3840');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
   width:100%; 

   
   display: flex;
   justify-content: space-between;
   padding: 40PX;
   justify-items: center;
   font-size: medium;
}


.f1{
    color: rgb(151, 147, 147);
    font-size: 30px;
}
.f2{
    color:rgb(151, 147, 147) ;
    font-size: 30px;
}
.f3{
    color: rgb(151, 147, 147);
    font-size: 30px;
}
.f4{
  color: rgb(151, 147, 147);  
  font-size: 30px;
}


.footer1{
    color: white;
    font-size: 20px;
}
.footer2{
    color: white;
    font-size: 20px;
}
.footer3{
    color: white;
    font-size: 20px;
}
.footer4{
    color: white;
    font-size: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
   .link{
    flex-wrap: wrap;
} 

   .footer{
    flex-direction:column ;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-items: center;
   }
}



