*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.body{
    height: auto;
    width: 100%;


}
.AB-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(233, 134, 150);
}
.parent{
    font-size: 24px;
}
.nav-parent{
    font-weight: 900;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-parents{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px
}

.image{
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTExL3Jhd3BpeGVsX29mZmljZV8zMF9hYnN0cmFjdF9ncmFkaWVudF93aGl0ZV9iYWNrZ3JvdW5kX3ZlY3Rvcl9wcl9kZGY3ZTJiNC0wMjU3LTRjMTUtOWFjNS0xMmQwZTA0N2E4MWYuanBn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    

    align-items: center;
    justify-items: center;
    font-size: 40px;
}
.nav-image{
    font-size: 30px;
    font-weight: 800;
    justify-items: center;
    align-content: center;
    color: rgb(101, 174, 235);
}
.div-image{
    justify-items: center;
    align-content: center;
    font-size: 20px;
    color: rgb(39, 39, 105);
}

.products{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
justify-content: center;
gap: 10px;

}

.nav-products{
    width: 250px;
    height: 250px;
    border-radius: 70px;
    margin-bottom: 10px;
    margin-left: 10px;
    align-content: center;
    justify-items: center;
    margin-top: 20px;
    border: 2px solid gray;
    overflow: hidden;
     
}

.A{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    
    
}
.B{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center; 
    
}
.C{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    
}
.D{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    
}
.E{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    
}
.a{
   font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center; 
    
}
.b{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    
}
.c{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;    

}
.d{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;
    

}
.e{
    font-size: 15px;
    font-weight: 800;
    justify-items: center;
    align-content : center;


}



.form{
    background-image: url('https://coolbackgrounds.imgix.net/4lBzkVBmJ0qvFJ90SJHEdV/7645fc49f7f1fb4a8c31a94fc4c97f4d/black-particles-background.png?auto=format%2Ccompress&q=60&w=3840');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:550px;
    width:100%;
    background-color: black;
    

     justify-items: center;
    align-content : center; 

} 
.nav-form{
    background-image: url('https://media.istockphoto.com/id/468572751/photo/nature-color.webp?a=1&b=1&s=612x612&w=0&k=20&c=ioW6R0ikif1eMBcU8nnmgJv6tmE0qlfW4sfmnnHre-E=');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:350px;
    width:40%;

    align-items: center;
    justify-items: center;
    align-content: center;
    font-size: 30px;
}
#Name{
    font-size: 20px;
}
#Email{
    font-size: 20px;
}
#Password{
    font-size: 20px;
}

.footer{
   background-image: url('https://coolbackgrounds.imgix.net/4lBzkVBmJ0qvFJ90SJHEdV/7645fc49f7f1fb4a8c31a94fc4c97f4d/black-particles-background.png?auto=format%2Ccompress&q=60&w=3840');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
   width:100%; 
   background-color: black;
   
   display: flex;
   justify-content: space-between;
   padding: 40PX;
   justify-items: center;
   font-size: medium;
   flex-wrap: wrap;
   align-items: center;
}


.f1{
    color: rgb(151, 147, 147);
    font-size: 30px;
}
.f2{
    color:rgb(151, 147, 147) ;
    font-size: 30px;
}
.f3{
    color: rgb(151, 147, 147);
    font-size: 30px;
}
.f4{
  color: rgb(151, 147, 147);  
  font-size: 30px;
}


.footer1{
    color: white;
    font-size: 20px;
    justify-items: center;
    align-content : center;

    
}
.footer2{
    color: white;
    font-size: 20px;
    justify-items: center;
    align-content : center;

}
.footer3{
    color: white;
    font-size: 20px;
    justify-items: center;
    align-content : center;

    
}
.footer4{
    color: white;
    font-size: 20px;
    justify-items: center;
    align-content : center;


}


@media only screen and (min-width: 320px) and (max-width: 480px){
.products{
    width: 90% !important;
    height: auto !important;
    flex-wrap: wrap;
    overflow: hidden;
} 
.nav-products{
    width: 150px;
    height: 250px;
    justify-items: center;
}


.footer{
    flex-direction:column ;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-items: center;
   }


.nav-form{
    height: 200px;
    width: 80%;
    font-size: 20px;
   }
   #Name{
    font-size: 15px;
   }
   #Email{
    font-size: 15px;
   }
   #Password{
    font-size: 15px;
   }


   .nav-parent {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: rgb(216, 195, 237);
    width: 100%;
    height: 66vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
  }

  .nav-parent.show {
    display: flex;
  }

  .nav-parent li {
    margin-bottom: 20px;
  }

  .A-parent {
    display: flex;
  }

  .input-field{
    background-color: gray;
    border: 1px solid green;
    color: black;
    border-radius: 12px;
    padding-left: 5px;
  }

  .input-field::placeholder{
    color: #000000;
  }
}



